.btn-primary {
    color: black !important;
    background-color: white !important; 
    border-color: white !important;
}
.btn-primary:hover{
    color: black !important;
    background-color: white; 
    border-color: white;
}

.inline{
    display: flex;
}

#dropdown-button{
    margin-right: 40px ;
}

.dropdown-toggle::after {
    margin-left: 1.255em !important;
    color: blue;
    border-top: 0.5em solid !important;
    border-right: .5em solid transparent !important;
    border-bottom: 0;
    border-left: .5em solid transparent !important;
  
}
.padding-left
{
    padding-left: 40px !important;
}