
.EventList{
    margin-top: 40px !important;
}
.imgevent{

    height:260px;
    width: 90%;
    margin-bottom: 60px;
}
.event-info{
    padding: 15px 50px !important;

}
.event-name{
    font-size: 12px;
    padding-top: 3px;
    color: rgb(66, 61, 61);
    text-align: left;
}
 .Event-month{
     color: rgb(96, 40, 139);
     font-size: 11px;
     font-weight: 400;
 }
.Event-detail{
    font-size: 10px;
    color: grey;
    text-align: left;
}

.price {
   padding: 5PX;
   background-color: white !important;
   color: black;
   margin: 15px;
   font-size: 12px !important;
   border-radius: 10px !important;
  }

  .downloadbtn{
    height: 34px !important;
    width: 30px !important;
    padding: 6px 6px;
      background-color: white;
      transform: rotate(180deg);
      border-radius: 50%;
      float: right;
      margin: 10px;
  }
  .likebtn{
    height: 34px !important;
    width: 30px !important;
    padding: 6px 6px;
      color: red;
      background-color: white;
      border-radius: 50%;
      float: right;
      margin: 10px;

  }

  .event1{  
      background-image: url('../../Assets/event1.jpeg');
  }

  .event2{
      background-image: url('../../Assets/event2.jpeg');
  }
  .event3{
    background-image: url('../../Assets/event3.jpeg');
}

  .events-images{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 20px;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .learnbtn{
        background-color: rgba(222, 218, 226, 0.973) !important;
        color: purple !important;
        width: 20% !important;
        border-radius: 10px !important;
        padding: 10px 5px !important;
    }
    .learnbtn:hover{
        padding: 10px 5px !important;
        color: purple !important;
    }