.bgimg
{
    height: 500px !important;
}
ul.thumbs.animated {
    display: none;
}
p.carousel-status {
    display: none;
}
.search{
    width: 90%;
    margin-top: 5px ;
    margin-left: 8%;
}

.search-sec{
    padding: 2rem;
    
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: white !important;
    background-color: rgb(28, 10, 48) !important;
    background-image: none;
    height: calc(3rem + 30px) !important;
    border-radius: 0 !important;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(5rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
    }
}
@media (min-width: 960px){
.carousel .control-dots {
    bottom: 0;
    display: none;
}}

.right-border{
    border-radius: 0 !important;
    border-right: 1px solid rgb(52, 40, 58);
}
input{
    border:1px solid rgb(28, 10, 48) !important;
    border-bottom: 1px solid rgb(88, 62, 160) !important;
    background-color: rgb(28, 10, 48) !important;
    width: 180px !important;
    padding-right: 5px;
    margin: auto !important;

}
select{
    border:1px solid rgb(28, 10, 48) !important;
    border-bottom: 1px solid rgb(88, 62, 160)   !important;
    background-color: rgb(28, 10, 48) !important;
    width: 180px !important;
    padding-right: 5px;
    margin-left: 25px !important;
    color: white !important;
}
input::placeholder{
    color: white !important;
}
.form-control{
    color: white !important;
}
section p{
    padding-top: 15px;
    margin-bottom: 0px !important;
    padding-left: 30px;
    font-size: 10px;
    text-align: left;
}

#exampleFormControlSelect{
    color:white !important;
}

.searchicon{
    margin: 10px;
    padding: 18px;
    border-radius: 5px;
    background-color: rgb(87, 39, 87);
}
.arrowicon{
    color: black;
}