.Nav{
    height: 70px;
    padding-top: 10px;
}
.left{
    float: left;
    padding-left: 5%;
}
.right{
    float: right;
}
button{
    padding: 8px 25px !important;
    margin-left: 0px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}
button:hover{
    padding: 8px 25px !important;
    background-color: rgb(88, 65, 218);
    color: rgba(255, 255, 255, 0.966) !important;
    border-radius: 12px;
}